.create-account-form {
  .policy-info {
    margin: 10px 0;
    font-size: 14px;
    font-style: normal;
  }

  .login-link {
    color: var(--primary);
    font-size: 16px;
    text-align: center;
  }
}

.fw-bold>span {
  font-weight: 700!important;
  font-size: 24px!important;
  text-align: center;
}